.section-About {
  background-color: rgb(0 0 0 / 78%);

}
.container-About {
  text-align: center;
  width: 96%;
  max-width: 1020px;
  margin: auto;
  padding-top: 40px;
}
.About {
  padding-bottom: 20px;
}

.container-About div h1 {
  padding-top: 20px;
}
.container-About h1, .container-About h2 {
  margin: auto;
}
.container-About h2 {
  margin: auto;
  font-size: larger;
}

.container-About div img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 5px 10px 5px #fdfdfd;
}
.container-About .title {
  margin-bottom: 30px;
  color: white;
}

.AboutFour h2 {
  padding: 10px;
  font-size: larger;
}
.AboutFour p {
  text-align: initial;
  margin: auto;
  color: #ffffffc7;
}

.CV a {
  text-decoration: none;
  color: white;
  padding: 8px;
}

.datas p {
  text-align: center;
}


.datas .CV {
  padding: 5px;
  background-color: #5e5f5a8a;
  width: 167px;
  border-radius: 5px;
  margin-top: 10px;
}

.stack {
  padding-top: 10px;
}
.AboutText, .AboutContact {
  padding: 10px;
}
.AboutContact h2, .AboutText h2 {
  color: white;
}
.AboutFour {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.container-About .image {
  display: inline-grid;
  padding-bottom: 30px;
}

@media only screen and (min-width: 700px) {
  .About {
    display: flex;
	  justify-content: space-around;
	  align-content: center;
  }
  .About, .AboutFour, .image {
    padding: 10px;
  }
  .container-About {
    padding-bottom: 20px;
  }
  .AboutThree p {
    text-align: initial;
  }
  .datas p {
    text-align: center;
  }
}