.container-About {
  background-color: black;
  text-align: center;
  background-image: url('../../Photos/wooden-wall.jpg');
}
.container-About {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.About {
  padding-bottom: 20px;
}

.container-About div h1 {
  padding-top: 20px;
}
.container-About h1, .container-About h2 {
  margin: auto;
}
.container-About h2 {
  margin: auto;
  font-size: larger;
}

.container-About div img {
  width: 100%;
  height: auto;
  box-shadow: 5px 10px 5px #05050563;
}
.container-About .title {
  margin-bottom: 30px;
}

.AboutFour h2 {
  padding: 10px;
  font-size: larger;
}
.AboutFour p {
  text-align: initial;
  margin: auto;
  color: #ffffffc7;
}

.CV a {
  text-decoration: none;
  color: white;
  padding: 8px;
}

.datas p {
  text-align: center;
}


.datas .CV {
  padding: 5px;
  background-color: #00000096;
  width: 167px;
  border-radius: 5px;
}

.stack {
  padding-top: 10px;
}
.AboutText, .AboutContact {
  width: 90%;
  margin-right: auto;
  margin-left: auto;

  box-shadow: 10px 4px 25px;
  border-radius: 10px;
  background-color: rgb(69 64 3 / 40%);
  margin-bottom: 22px;
  padding: 10px;
}
.AboutFour {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.container-About .image {
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 1319px) {
  .About {
    display: flex;
	  justify-content: space-around;
	  align-content: center;
  }
  .About, .AboutFour, .image {
    padding: 10px;
  }
  .container-About {
    padding-bottom: 20px;
  }
  .container-About .image {
    order: -2;
  }
  .AboutThree p {
    text-align: initial;
  }
  .datas p {
    text-align: center;
  }
  .container-About div img {
    border-radius: 15px;
    width: 100%;
  }
  
}
@media only screen and (min-width: 700px) {
  .container-About div img {
    border-radius: 15px;
    width: 90%;
  }
}