.container-About {
  align-items: center;
  background-color: #3c79f5;
  margin-top: -4px;
  padding-top: 3rem;
}
.container-About h2 {
  font-family: "fangsong";
  font-weight: 800;
  font-size: 2rem;
  font-family: "inherit";
  color: aliceblue;
  text-align: center;
}

.AboutText {
  padding-bottom: 16rem;
}
.AboutText p {
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.DesignerFrontBack {
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  height: 700px;
  box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%);
  padding: 0px;
}

.DesignerFrontBack img {
  width: 40px;
}
.DesignerFrontBack p {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.DesignerFrontBack > div {
  text-align: center;
  border-right: 1px solid #e6ecf8;
  border-top-right-radius: 20px;
}

.column {
  flex: 70%;
  padding: 39px 6px;
}
.column h1 {
  font-size: 1.3em;
  font-family: serif;
}
.column p {
  font-size: 17px;
  font-family: serif;
}

.containerDesignerFrontBack {
  position: relative;
  top: -10rem;
  width: 95%;
  margin: auto;
}

.list-title {
  color: #3b7af5;
  font-weight: bold;
  padding-top: 1rem;
}

@media screen and (max-width: 700px) {
  .DesignerFrontBack {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .DesignerFrontBack > div {
    text-align: center;
    border-bottom: 1px solid #e6ecf8;
    border-right: 0px solid #e6ecf8;
  }

  .DesignerFrontBack p,
  h1 {
    margin: auto;
  }
  .AboutText p {
    font-size: 1em;
  }
  .container-About .title h2 {
    font-size: 1.5em;
  }
}
