:root {
  --white-color: #ffffff;
  --light-grey-color: #eae8e8;
  --light-green-color: #1ecc78;
  --green-color: #0cb765;
  --red-color: #eb1d27;
  --blue-color: #4f78a4;
  --dark-red-color: #d31017;
  --dark-grey-color: #363636;
  --black-color: #333030;
  --deep-black-color: #000000;
}

.Portfolio-container {
  padding: 0 40px;
}
.card {
  flex: 1 1 30%;
  border-radius: 10px !important;
  position: relative;
  cursor: pointer;
  border: none !important;
  background-color: var(--black-color) !important;
  -webkit-transform: scale(100%);
  transform: scale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.6s ease;
  backface-visibility: hidden;
}
.container-contenu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.card:hover .image {
  opacity: 0.3;
}
.card:hover .containerTitle {
  opacity: 1;
}
.card:hover {
  -webkit-transform: scale(103%);
  transform: scale(103%);
  opacity: 1;
}
.containerTitle {
  position: absolute;
  bottom: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--black-color);
  opacity: 0;
  transition: 0.6s ease;
}

.containerTitle h3 {
  margin: 0;
  color: var(--white-color);
  padding: 10px 22px;
}
.card {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .Portfolio-container {
    padding: 0 10px;
  }
}
@media (max-width: 1200px) {
  .card {
    flex: 1 1 50%;
  }
}
