.modal-body img {
  width: 100%;
}

.textsContainer a {
  text-decoration: none;
}
.textsContainer p {
  margin: 0;
}
.langages {
  margin: 0;
  font-size: 3em;
}
.modal-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.textsContainer {
  font-size: 1.3em;
  padding-top: 20px;
}
.textInfo {
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .Source {
    font-size: 3em;
  }
}
